/HoopVids
/.dvc
/.idea
/runs
/Results
/OLDResults
/Analysis_Results
/datasets
/venv
/YoloAutoDataSet
/Render_Results
/Programs/logs
/Programs/Results
/Programs/NBA2K_Thesis_Dataset
/Programs/datasets

/Programs/stats.json
